.card {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: var(--brown-light);

  margin: 1rem;
}

.title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 16px;
  color: var(--white);
}

.chartContainer {
  width: 100%;
  height: auto;
  display: flex;
}
