:root {
  --white: #f8f7f6;
  --brown-dark: #4e463a;
  --brown-light: #837c6a;
  --grey: #d9d9d9;
  --red: #e03e29;
  --green: #04d820;
  --lieniargradiant: var(
    --fade-red,
    linear-gradient(
      115deg,
      rgba(217, 217, 217, 0.65) 2.84%,
      rgba(224, 62, 41, 0.26) 96.69%
    )
  );
  --h1-font-size: clamp(30px, 5vw, 60px);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--white);
  background: var(--brown-dark);
  font-family: var(--font-inter-regular), Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body ::selection {
  background-color: var(--red);
  color: var(--white);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

h1 {
  color: var(--white);
  font-family: var(--font-ibnsansBold);
  font-size: var(--h1-font-size);
}
