/* Hauptlayout für mobile Navigation */
.mobileNavWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #4f4b42;
  border-radius: 25px;
  width: 100%;
}

.mobileNavToggle {
  display: none;
}

@media (max-width: 768px) {
  .navList {
    display: none;
  }

  .mobileNavToggle {
    display: block;
    cursor: pointer;
  }

  .mobileNavList {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100dvh;
    width: 100dvw;
    padding: 0;
    margin: 1rem 2rem;
  }

  .mobileNavWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .mobileHeader {
    margin: 0 2rem;
  }
}
