.unauthenticated-container {
  padding: 0 2rem;
}

@media (max-width: 1240px) {
  .unauthenticated-container {
    padding: 0 2rem;
  }
}

@media (max-width: 768px) {
  .unauthenticated-containerdy {
    padding: 1rem;
  }
}
