.hero_wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #d9d9d939 0%, #e03e2943 100%);
  border-radius: 45px;
  flex-direction: column;
  padding: 2rem;
  margin: 2rem auto;
  max-width: 90%;
  gap: 2rem;
  width: 1235px;
  height: auto;
}

.hero_title {
  color: var(--white, #f8f7f6);
  font-size: 60px;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 2rem;
  font-family: "IBM Plex Sans";
  font-style: normal;
}
.slider {
  position: relative;
  width: 100%;
  height: 100%;
}

.hero_image_bg_left {
  position: absolute;
  z-index: -1;
  left: calc(4% - 20px);
  top: calc(9.5% + 1vh);
  width: calc(150px + 10vw);
  opacity: 0.8;
}

.hero_image_bg_right {
  position: absolute;
  z-index: -2;
  right: calc(14% - 20px);
  top: calc(10% + 1vh);
  width: calc(150px + 10vw);
  opacity: 0.8;
}

.hero_image_front {
  position: relative;
  z-index: 2;
  width: calc(200px + 15vw);
  max-width: 40vw;
}

.container_hero_text {
  margin: 2rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 80%;
}

.hero_text {
  font-family: "intern";
  color: var(--white, #f8f7f6);
  text-align: left;
  font-size: calc(1rem + 0.5vw);
  font-weight: 500;
  line-height: 135.2%;
  word-break: normal;
}

@media (max-width: 768px) {
  .hero_wrapper {
    padding: 1rem;
    flex-direction: column;
  }

  .hero_title {
    font-size: 1.5rem;
  }

  .hero_image_front,
  .hero_image_bg_left,
  .hero_image_bg_right {
    width: calc(180px + 10vw);
    top: calc(1rem + 1vh);
  }

  .container_hero_text {
    max-width: 90%;
  }

  .hero_text {
    font-size: 1rem;
    text-align: center;
  }
}
