.workoutHeader {
  color: black;
  font-weight: bold;
  margin-left: 2rem;
}

.tabsContainer {
  margin-bottom: 1rem;
}

.tabs {
  border-bottom: 3px solid var(--red);
  margin-top: 1rem;
  padding-bottom: 8px;
}

.tab {
  padding: 1rem 1.5rem;
  margin-left: 1rem;
}

.tab.selected {
  color: black;
}

.tabIndicator {
  background-color: black;
  height: 3px;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContent {
  width: 100%;
  max-width: 500px;
  margin: 0 20px;
  outline: none;
}

@media (max-width: 600px) {
  .modalContent {
    margin: 10px;
  }
}
