.container {
  width: 100%;
}

.workoutHeader {
  color: black;
  font-weight: bold;
  margin-left: 2rem;
  font-size: 2rem;
}

.tabsContainer {
  margin-bottom: 1rem;
  padding: 0 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tabs {
  border-bottom: 2px solid var(--red);
  margin-top: 1rem;
  padding-bottom: 8px;
}

.tab {
  padding: 1rem 1.5rem;
  margin-left: 1rem;
  color: black;
  text-transform: none;
  font-weight: 400;
}

.tab.selected {
  color: var(--red);
  font-weight: 600;
}

.buttonContainer {
  width: auto;
}

.newWorkoutButton {
  background-color: var(--brown-light);
  color: white;
  border-radius: 8px;
  padding: 12px 24px;
  text-transform: none;
  font-weight: 500;
}

.workoutList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.workoutItem {
  width: 100%;
}

.noWorkouts {
  text-align: center;
  padding: 2rem;
}

@media (max-width: 600px) {
  .tabsContainer {
    flex-direction: column;
    gap: 1rem;
    padding: 0 1rem;
  }

  .tabs {
    max-width: 100%;
    overflow-x: auto;
  }

  .buttonContainer {
    width: 100%;
  }

  .newWorkoutButton {
    width: 100%;
    margin-top: 0.5rem;
  }


  .workoutList {
    padding: 0;
  }
}
