.switchContainer {
  display: flex;
  align-items: center;
  position: absolute;
  right: 8rem;
  border: 1px solid #ccc;
  border-radius: 30px;
  background-color: #f0f0f0;
  width: 180px;
  overflow: hidden;
}

.switchBackground {
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: var(--brown-light);
  border-radius: 30px;
  transition: left 0.3s ease-in-out;
}

.login {
  left: 0;
}

.signup {
  left: 50%;
}

.switchLabel {
  flex: 1;
  text-align: center;
  z-index: 1;
  cursor: pointer;
  padding: 8px 0;
  font-size: 0.9rem;
  font-weight: bold;
  color: var(--brown-light);
  transition: color 0.3s;
}

.active {
  color: var(--white);
}

@media (max-width: 1240px) {
  .switchContainer {
    right: 4rem;
  }
}

@media (max-width: 1000px) {
  .switchContainer {
    width: 150px;
  }
}
