.card {
  margin-bottom: 20px;
  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.primary {
  background-color: var(--brown-light);
}

.secondary {
  background-color: var(--brown-light);
  color: var(--white);
}

.title {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.input {
  margin-bottom: 16px;
}

.media {
  margin-bottom: 16px;
}

.description {
  margin-bottom: 16px;
}

.buttonContainer {
  display: flex;
  gap: 8px;
  margin-top: 16px;
  justify-content: flex-end;
}

.button {
  min-width: 120px;
}

.statusText {
  margin-top: 16px;
  font-weight: bold;
  text-align: center;
}

.iconButton {
  color: var(--icon-color, #000);
  z-index: 1;
}
