.bioCard {
  max-width: 100%;

  margin: 1rem;
  border-radius: 12px !important;
  background: var(--brown-light);
}

.headerSection {
  display: flex;
  align-items: center;
}

.avatarSection {
  margin-right: 1rem;
}

.avatar {
  width: 80px !important;
  height: 80px !important;
}

.headerInfo {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.username {
  font-weight: 600;
  color: var(--white);
  margin: 0;
}

.memberInfo {
  color: var(--white);
}

.memberSince {
  color: var(--white);
}

.divider {
  color: var(--white);
  margin: 0 0.5rem;
  font-weight: 300;
}

.statsInfo,
.physicalInfo {
  color: var(--white);
  margin-bottom: 0.25rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.25rem;
}
