.bioCard {
  max-width: 100%;

  margin: 1rem;
  border-radius: 12px;
  background: var(--brown-light);
}

.headerSection {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.leftSection {
  display: flex;
  align-items: center;
}

.avatarSection {
  margin-right: 1rem;
}

.avatar {
  width: 80px;
  height: 80px;
}

.headerInfo {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.username {
  font-weight: 600;
  color: var(--white);
  margin: 0;
}

.memberInfo {
  color: var(--white);
}

.memberSince {
  color: var(--white);
}

.divider {
  color: var(--white);
  margin: 0 0.5rem;
  font-weight: 300;
}

.statsInfo,
.physicalInfo {
  color: var(--white);
  margin-bottom: 0.25rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.25rem;
}

.titleRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.editButton {
  background-color: var(--white) !important;
  color: var(--font-dark) !important;
  text-transform: none !important;
}
