.container {
  width: 100%;
}

.challengeHeader {
  color: black;
  font-weight: bold;
  margin-left: 2rem;
  font-size: 2rem;
}

.tabsContainer {
  margin-bottom: 1rem;
  padding: 0 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tabs {
  border-bottom: 2px solid var(--red);
  margin-top: 1rem;
  padding-bottom: 8px;
}

.tab {
  padding: 1rem 1.5rem;
  margin-left: 1rem;
  color: var(--brown-dark);
  text-transform: none;
  font-weight: 400;
}

.tab.selected {
  color: var(--brown-dark);
  font-weight: 600;
}

.tabs :global(.MuiTabs-indicator) {
  background-color: var(--red);
}

.buttonContainer {
  width: auto;
}

.challengesList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 2rem;
}

.challengeItem {
  width: 100%;
}

@media (max-width: 600px) {
  .tabsContainer {
    flex-direction: column;
    gap: 1rem;
    padding: 0 1rem;
  }

  .tabs {
    max-width: 100%;
    overflow-x: auto;
  }

  .buttonContainer {
    width: 100%;
  }

  .challengesList {
    padding: 0 1rem;
  }
}

.modalContent {
  background-color: var(--brown-light);
  padding: 2rem;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 500px;

  @media (max-width: 600px) {
    margin: 10px;
  }
}



.modalContent h2 {
  color: black;
}

.errorMessage {
  color: #d32f2f;
  font-size: 0.75rem;
  margin-top: 3px;
  margin-bottom: 8px;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContent {
  .MuiFormHelperText-root {
    color: #d32f2f;
    margin-top: 3px;
  }
}

.newChallengeButtonContainer {
  width: 100%;
}

@media (min-width: 600px) {
  .newChallengeButtonContainer {
    width: auto;
  }
}

.textField {
  & label {
    color: white;
  }
  & .MuiOutlinedInput-root {
    & fieldset {
      border-color: white;
    }
    &:hover fieldset {
      border-color: white;
    }
    &.Mui-focused fieldset {
      border-color: white;
    }
  }
}
