.challengesContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  width: 100%;

  margin: 0 1rem;
}

@media (max-width: 1024px) {
  .challengesContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .challengesContainer {
    grid-template-columns: 1fr;
    padding: 1rem;
    gap: 1rem;
  }
}

.modalContent {
  background-color: var(--brown-light);
  padding: 2rem;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 500px;
}

.modalContent h2 {
  color: black;
}

.fabButton {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}

.errorMessage {
  color: #d32f2f;
  font-size: 0.75rem;
  margin-top: 3px;
  margin-bottom: 8px;
}

.modalContent {
  .MuiFormHelperText-root {
    color: #d32f2f;
    margin-top: 3px;
  }
}
