.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "--font-inter-regular";
  color: var(--white);
  margin-top: 2rem;
}

.login-logo {
  margin-bottom: 20px;
}

.login-logo img {
  height: 60px;
}

.login-form {
  width: 100%;
  max-width: 280px;

  border-radius: 10px;
  padding: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.label {
  font-size: 14px;
  margin-bottom: 5px;
  display: block;
}

.input-container {
  display: flex;
  align-items: center;
  background-color: #1e1b19;
  border: 2px solid transparent;
  border-radius: 5px;
  padding: 5px 10px;
  transition: border 0.3s ease;
  height: 40px;
}

.input-container:focus-within {
  border-color: red;
}

.input-container .icon {
  margin-right: 10px;
  color: #fff;
}

.input-container input {
  width: 100%;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 14px;
  outline: none;
  height: 100%;
}

.input-container .eye {
  cursor: pointer;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: #b3a891;
  color: #2c2521;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: black;
}

/* Links */
.login-links {
  text-align: center;
  margin-top: 16px;
}

.login-links p {
  margin: 0;
  color: var(--black);
  font-size: 14px;
}

.login-links a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-family: "--font-inter-regular";
}

.login-links a:hover {
  text-decoration: underline;
}

.form-container {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--brown-light);
  border-radius: 16px;
  padding: 32px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.form-title {
  margin-bottom: 32px;
  font-weight: bold;
  color: white;
}

.text-field {
  width: 100%;
}

.text-field :global(.MuiOutlinedInput-root) fieldset {
  border-color: black;
}

.text-field :global(.MuiOutlinedInput-root:hover) fieldset {
  border-color: black;
}

.text-field :global(.MuiOutlinedInput-root.Mui-focused) fieldset {
  border-color: black;
}

.text-field :global(.MuiInputLabel-root) {
  color: black;
}

.text-field :global(.MuiOutlinedInput-input) {
  color: black;
}

.submit-button {
  width: 100%;
  padding: 12px;
  margin-top: 24px;
  border: none;
  border-radius: 8px;
  background: var(--brown-dark);
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 3px 5px 2px rgba(0, 0, 0, 0.2);
}
