.form-container {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--brown-light);
  border-radius: 16px;
  padding: 32px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.form-title {
  margin-bottom: 32px;
  font-weight: bold;
  color: white;
}

.text-field {
  width: 100%;
}

.text-field :global(.MuiOutlinedInput-root) fieldset {
  border-color: var(--white);
}

.text-field :global(.MuiOutlinedInput-root:hover) fieldset {
  border-color: var(--white);
}

.text-field :global(.MuiOutlinedInput-root.Mui-focused) fieldset {
  border-color: var(--white);
}

.text-field :global(.MuiInputLabel-root) {
  color: var(--white);
}

.text-field :global(.MuiOutlinedInput-input) {
  color: black;
}

.text-field :global(.MuiFormHelperText-root) {
  color: var(--fehlermeldung-rot);
  font-weight: 600;
  font-size: 0.875rem;
}

.text-field :global(.Mui-error) .MuiOutlinedInput-notchedOutline {
  border-color: var(--fehlermeldung-rot);
}

.submit-button {
  width: 100%;
  padding: 12px;
  margin-top: 24px;
  border: none;
  border-radius: 8px;
  background: var(--brown-dark);
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 3px 5px 2px rgba(0, 0, 0, 0.2);
}

.login-links {
  text-align: center;
  margin-top: 16px;
}

.login-links a {
  color: var(--white);
  text-decoration: underline;
  margin-left: 0.5rem;
}

.login-links a:hover {
  text-decoration: underline;
}
