/* Hero Section home */

.Herosection__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 84px;
  background: linear-gradient(
    115deg,
    rgba(217, 217, 217, 0.65) 2.84%,
    rgba(224, 62, 41, 0.26) 96.69%
  );
  backdrop-filter: blur(9.35px);
  width: 100%;
  height: auto;
  position: relative;
}

.Herosection__button {
  background-color: transparent;
  border: none;
  color: black;
  padding: 0.7rem 1.5rem;
  border-radius: 30px;
  border: #fff 2px solid;
  font-size: 1.1rem;
  margin-top: 20px;
  cursor: pointer;
  z-index: 10;
}
.Herosection__button:hover {
  background-color: #fff; /* Hintergrund wird weiß beim Hover */
  color: #000; /* Text wird schwarz beim Hover */
}

.Herosection__image {
  width: 100%;
  height: auto;
  display: flex;
}
