.hero_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--lieniargradiant);
  border-radius: 5px;
  flex-direction: column;
  padding: 2rem;
  margin: 2rem auto;
  gap: 1rem;
  width: 100%;
  height: auto;
  position: relative;
}

.phones_container {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  gap: 1rem;
  width: 100%;
  max-width: 1200px;
  align-items: center;
  justify-items: center;
}

.hero_image_bg_left,
.hero_image_bg_right {
  width: 100%;
  max-width: 200px;

  .image {
    width: 100%;
    height: auto;
    filter: blur(1px);
  }
}

.hero_image_front {
  width: 100%;
  max-width: 250px;
  z-index: 2;

  .image {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 1250px) {
  .phones_container {
    max-width: 1000px;
  }
}

@media (max-width: 1020px) {
  .phones_container {
    max-width: 800px;
  }
}

@media (max-width: 768px) {
  .phones_container {
    max-width: 600px;
  }
}

@media (max-width: 640px) {
  .phones_container {
    grid-template-columns: 1fr;
    max-width: 300px;
  }

  .hero_image_bg_left,
  .hero_image_bg_right {
    display: none;
  }

  .hero_image_front {
    max-width: 200px;
  }
}

@media (max-width: 320px) {
  .hero_image_front {
    max-width: 180px;
  }
  .hero_wrapper {
    margin: 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
  }
}
