.hero_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--lieniargradiant);
  border-radius: 45px;
  flex-direction: column;
  padding: 2rem;
  margin: 2rem auto;
  gap: 2rem;
  width: 100%;
  height: auto;
}

.hero_image_bg_left {
  z-index: -1;
  height: auto;
  width: 11%;
  height: auto;
  position: absolute;
  left: 20rem;

  .image {
    filter: blur(1px);
    width: 100%;
    height: auto;
  }
}

.hero_image_bg_right {
  z-index: -1;
  height: auto;
  width: 11%;
  height: auto;
  position: absolute;
  right: 20rem;

  .image {
    width: 100%;
    height: auto;
    filter: blur(2px);
  }
}

.hero_image_front {
  z-index: 2;
  height: auto;
  width: 15%;
  height: auto;

  .image {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 1250px) {
  .hero_image_front {
    width: 20%;
  }

  .hero_image_bg_left {
    left: 15rem;
    width: 13%;
  }

  .hero_image_bg_right {
    right: 15rem;
    width: 13%;
  }
}

@media (max-width: 1020px) {
  .hero_image_front {
    width: 25%;
  }

  .hero_image_bg_left {
    left: 10rem;
    width: 15%;
  }

  .hero_image_bg_right {
    right: 10rem;
    width: 15%;
  }
}

@media (max-width: 768px) {
  .hero_image_bg_left,
  .hero_image_bg_right {
    width: calc(20vw + 100px);
    max-width: 180px;
    min-width: 120px;
  }

  .hero_image_front {
    width: 30%;
  }

  .hero_image_bg_left {
    left: 3rem;
    width: 18%;
  }
  .hero_image_bg_right {
    right: 3rem;
    width: 18%;
  }
}

@media (max-width: 640px) {
  .hero_image_front {
    width: 40%;
  }

  .hero_image_bg_left,
  .hero_image_bg_right {
    .image {
      opacity: 0;
    }
  }
}

@media (max-width: 500px) {
  .hero_image_front {
    width: 60%;
  }
}

@media (max-width: 390px) {
  .hero_image_front {
    width: 70%;
  }
}
