.herosection__mehrerfahrenBTN {
  margin-top: 1rem;
  border: none;
  padding: 0.7rem 1.5rem;
  border-radius: 30px;
  font-size: 1.1rem;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: var(--font-inter-regular);
}

.primary {
  color: #fff;
  background-color: var(--brown-light);
}

.secondary {
  background-color: transparent;
  border: 2px solid #ffffff;
  color: var(--white);
}
