.appBar {
  background-color: #837c6ad6;
  position: sticky;
  top: 0;
  z-index: 1000;
  margin-bottom: 24px;
}

.iconButton {
  background-color: var(--brown-light);
  border-radius: 12%;
}

.menuButton {
  margin-right: 16px;
}

.title {
  flex-grow: 1;
  font-weight: bold;
  color: #ffffff;
}

.userSection {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 8px;
}

.avatar {
  width: 40px;
  height: 40px;
  border: 2px solid white;
  border-radius: 50%;
  object-fit: cover;
}

.userName {
  font-weight: 500;
  color: white;
  margin-left: 8px;
}
