.section-wrapper {
  border-radius: 20px;
  margin: 2rem auto;
  max-width: 1200px;
  display: flex;
  justify-content: center;
}

.container-wrapper-section-home {
  display: flex;
  align-items: center;
  gap: 2rem;
  max-width: 100%;
  width: 90%;
}

.bild-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bild-container .image {
  width: 100%;
  height: auto;
  border-radius: 15px;
  object-fit: cover;
  max-width: 400px;
}

.container-beschreibung {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.beschreibung {
  font-family: "intern";
  color: var(--white, #f8f7f6);
  text-align: left;
  font-size: calc(10px + 0.5vw);
  font-weight: 500;
  line-height: 135.2%;
  word-break: normal;
}

/* Button-Container */
.container-button {
  margin-top: 1rem;
  display: flex;
  align-items: flex-start;
}

/* Animation für den Pulse-Effekt */
@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

/* Responsive Anpassung für mobile Bildschirme */
@media (max-width: 768px) {
  .container-wrapper-section-home {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .bild-container,
  .container-beschreibung {
    flex: 1;
    width: 100%; /* Volle Breite auf mobilen Geräten */
  }

  .beschreibung {
    text-align: center;
    font-size: 1rem;
  }

  .container-button {
    align-self: center;
  }
}
