.workoutInfo {
  background: var(--brown-light);
  border-radius: 8px;
  margin: 8px 16px;
  padding: 12px 16px;
  display: flex;
  align-items: center;
  position: relative;
}

.mainInfo {
  flex: 1;
}

.category {
  font-weight: 600;
  color: var(--white);
  margin-bottom: 4px;
}

.details {
  color: var(--white);
}

.dateInfo {
  color: var(--white);
  margin-left: auto;
  padding: 0 16px;
}

.repsInput {
  margin-bottom: 1rem;
}
.rightControls {
  display: flex;
  align-items: center;
  gap: 8px;
}

.checkboxContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.checkbox {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.checkbox.completed {
  border-color: var(--green, var(--green));
  color: var(--green, var(--green));
}

.actions {
  display: flex;
  align-items: center;
}

@media (max-width: 640px) {
  .workoutInfo {
    padding: 12px;
  }

  .mainInfo {
    flex: 1;
    min-width: 0; /* Verhindert Überlauf */
  }

  .dateInfo {
    padding: 0 8px;
  }

  .rightControls {
    gap: 4px;
  }
}

@media (max-width: 320px) {
  .workoutInfo {
    margin: 8px;
  }

  .mainInfo {
    font-size: 0.9rem;
  }

  .dateInfo {
    font-size: 0.8rem;
  }
}

.numberInputs {
  display: flex;
  gap: 12px;
}

.numberInputs > * {
  flex: 1;
}

.saveButton {
  margin-top: 16px;
  padding: 12px;
  background-color: var(--brown-dark);
}
