.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
}

.main {
  flex-grow: 1;
  margin-left: 0;
}

@media (min-width: 900px) {
  .main {
    margin-left: 250px;
  }
}
